.button-box {
  button {
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

.calendar {
  .rbc-calendar {
    height: 550px;
    min-width: 500px;

    &.dark {
      .rbc-toolbar {
        button {
          color: white;

          &.rbc-active {
            color: black;
          }

          &:hover {
            color: black;
            cursor: pointer;
          }
        }
      }
      .rbc-timeslot-group, .rbc-today {
        background-color: #1F2A40;
      }
    }
    .rbc-time-slot {
      /* Customize time slot styles */
      background-color: #f5f5f5;
      min-height: 35px;
    }
    
    .rbc-time-slot.rbc-now {
      /* Customize current time slot styles */
      background-color: #f5f5f5;
    }
  }
}

@media screen and (max-width: 420px) {
  .button-box {
    a,
    button {
      width: 100%;
    }
  }
}
