.container {
  max-width: 40rem;
  margin: 3.5rem auto;
  display: flex;
  justify-content: center;
}

.login-button {
  display: flex;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #ddd;
  color: #333;
  width: 200px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.container img {
  width: 60px;
  height: 60px;
}