.form {
  width: 100%;
  margin: 0 auto;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
}

.input-container {
  margin-bottom: 1rem;
}

.input-container.invalid p,
.col.invalid p,
.professionals-container.invalid ul + p {
  color: red;
}

.input-container.invalid input,
.col.invalid input {
  border-color: red;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: #ccc9c6;
  color: #31302e;
  border: none;
}

.actions a {
  text-decoration: none;
  background-color: transparent;
  color: #ccc9c6;
}

.actions button:hover {
  background-color: #ccc9c6;
}

.actions a:hover {
  background-color: #31302e;
}

.form h1,.form label,.form li,.form p, .form h2 {
    color: #333
}

.professionals-list {
  margin-bottom: 1rem;
}

.professionals-list li {
  display: block;
  font-size: 14px;
  text-align: center;
  margin-right: 2rem;
}

.professionals-list li.disabled label{
  opacity: .5;
  cursor: not-allowed;
}


.professionals-list img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.professionals-list p {
  margin: 0;
  
}

.professionals-list input[type="radio"] {
  display: none;
}

.professionals-list input[type="radio"]:checked + img {
  border: 2px solid green;
  cursor: auto;
}

.input-container.cols, .col.col4 {
  display: flex;
  justify-content: space-between;
}
.input-container .col {
  width: 45%;
}


.col4 .col {
  padding-right: 1rem;
}

.input-container select {
  height: 2.35rem;
}

.dropdown {
  width: 100%;
  text-transform: capitalize;
}

.button-delete {
  background-color: #F15F3F !important;
}