.container {
  max-width: 65rem;
  margin: 2rem auto;
}

.users-list {
    margin: 1rem auto;
}

.users-list td {
    width: 20%;
    padding-top: 1rem;
    padding-left: 1rem;
}

.users-list th {
    text-align: left;
    font-size: 18px;
    padding-bottom: .5rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #ddd;
}

.users-list a {
    font-weight: bold;
    color: #aaa;
}

.users-list a:hover {
    opacity: .7;
}