.input-container {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

    &.invalid {
        p {
            color: #f44336;
            margin-bottom: 0;
            margin-top: .5rem;
        }
    }
}